<?xml version="1.0" encoding="GBK"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        https://www.springframework.org/schema/context/spring-context.xsd">

    <!--扫描service包下的注解-->
    <context:component-scan base-package="com.wjh.service"/>

    <!--将业务类注入到Spring    可以写注释自动扫描不写这个-->
    <bean id="BookServiceImpl" class="com.wjh.service.BookServiceImpl">
        <property name="bookMapper" ref="bookMapper"/>
    </bean>

    <bean id="UserServiceImpl" class="com.wjh.service.UserServiceImpl">
        <property name="userMapper" ref="userMapper"/>
    </bean>

    <!--声明式事务-->
    <bean id="transaction" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>

</beans>